build/
build-*/
Makefile
src/Misc/Logging_generated.h

# Debian packaging artifacts
debian/.debhelper/
debian/l2trader/
debian/l2trader-tests/
debian/files
debian/*.debhelper*
debian/*.substvars
debian/debhelper-build-stamp
obj-*/
