build/
src/Misc/Logging_generated.h

# WatchApp Android/Gradle artifacts
WatchApp/.gradle/
WatchApp/.idea/
WatchApp/build/
WatchApp/app/build/
WatchApp/local.properties
WatchApp/*.iml
WatchApp/.DS_Store
WatchApp/captures/
WatchApp/.externalNativeBuild/
WatchApp/.cxx/

# Debian packaging artifacts
debian/.debhelper/
debian/l2trader/
debian/l2trader-tests/
debian/files
debian/*.debhelper*
debian/*.substvars
debian/debhelper-build-stamp
obj-*/
