[Unit]
Description=Start L2Trader Recorder Service
Documentation=https://github.com/simonbeaudoin0935/L2Trader
Requires=l2trader-recorder.service

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl start l2trader-recorder.service
